extends ../layouts/auth

block title
  title Prezenter | Sign up

block content
  #wrapper
    #content
      h2 Sign up
      form(action="/sign_up", method="post")
        fieldset
          label(for="username") Username
          input#username(type="text", name="username", autofocus="autofocus")
        fieldset
          label(for="password") Password
          input#password(type="password", name="password")
        input(type="submit", value="Sign up")

