- content_for :title do
  = @presentation.name

- content_for :css do
  = raw @presentation.css

#wrapper{'data-mode' => 'prezenter'}
  = raw Haml::Engine.new(@presentation.haml).render

.navigation
  .menu
    = link_to fa_icon('home 4x'), root_path

.info
  #progress
    .bar
  #clock
    .bar
