%nav.top-bar
  %ul.menu
    %li
      - if current_user
        %a= current_user.login
    %li
      - if current_user
        = link_to 'Sign out', destroy_user_session_path, :method => :delete
    %li
      - unless current_user
        = link_to 'Sign in', new_user_session_path
    %li
      - unless current_user
        = link_to 'Sign up', new_user_registration_path
