- content_for :css do
  = raw @presentation.css

#wrapper{'data-mode' => 'viewer'}
  = raw Haml::Engine.new(@presentation.haml).render

.navigation
  .menu
    = link_to fa_icon('home 4x'), root_path
    = fa_icon 'eye 4x'
