* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

section {
  position: fixed;
  background: white;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.top {
  z-index: 1;
}

.navigation {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;

  .menu {
    padding: 10px 20px;
  }
}

.info {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  z-index: 1;

  #progress, #clock {
    height: 50%;

    .bar {
      height: 100%;
      background: black;
      width: 0;
    }
  }
}
