* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

h1, h2, h3 {
  font-family: Lato, Helvetica, sans-serif;
}

#content {
  width: 960px;
  margin: 0 auto;
  margin-top: 70px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.tabs {
  list-style: none;
  display: inline;
}

.tabs a {
  float: left;
  border: 1px solid #aaa;
  border-bottom: none;
  padding: 10px 15px;
  cursor: pointer;
}

.tabs a:first-child {
  border-right: none;
}

.tabs a:hover, .tabs a.active {
  background-color: #eee;
}

.tabs a {
  text-decoration: none;
}

textarea {
  font-family: Courier, monospace;
  width: 100%;
  height: 400px;
}

.hidden {
  display: none;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #aaa;
}

.top-bar ul {
  float: right;
}

.top-bar li {
  display: inline-block;
}

.top-bar li a {
  margin: auto 10px;
}

ul {
  padding: 0;
  list-style: none;
}

.presentations li {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.presentations li.span4 {
  width: 300px;
}

.presentations .box {
  height: 200px;
  width: 300px;
  background: #aaa;
  position: relative;
}

.presentations .box h3 {
  background: #777;
  bottom: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  padding: 10px 5px;
}

.actions {
  width: 100%;
  &.btn-group .btn.quarter {
    margin-left: 0;
  }
}

.quarter {
  width: 25%;
}

.btn-group > .btn:first-child {
  border-top-left-radius: 0;
}

.btn-group > .btn:last-child {
  border-top-right-radius: 0;
}
