!!!
%html
  %head
    %title Prezenter
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    %style= yield :css
    = javascript_include_tag "application", "data-turbolinks-track" => true
  %body
    = yield
